* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}
.left {
  display: inline-block;
  text-align: left;
  width: 70%;
  background-color: blue;
}
.right {
  display: inline-block;
  width: 25%;
  text-align: right;
  background-color: aqua;
}
