* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box-item{
  width: 100px;
  height: 100px;
  background-color: aqua;
}